@page "{id:Guid}";
@model OrchidTradingManagement.Pages.Admin.EditSellOrchidInforModel
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div>
        <h1>Approve Sell Admin Page</h1>
    </div>
</div>

@if (Model.ListInformation != null)
{
    <div>
        <div class="container">
            <form method="post">
                <div class="mb-3" style="display:none">
                    <label for="inforId" class="form-label">InforId:</label>
                    <input type="text" class="form-control" id="inforId" asp-for="ListInformation.InforId" readonly>

                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <input type="text" class="form-control" id="title" asp-for="ListInformation.Title" readonly>                    
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <input type="text" class="form-control" id="description" asp-for="ListInformation.Description" readonly>
                 
                </div>

                <div class="mb-3" >
                    <label for="featuredImageUpload" class="form-label">Featured Image Upload</label>
                    <input type="file" id="featuredImageUpload" asp-for="FeaturedImage" readonly />
                    @if (Model.ListInformation.Image != null)
                    {
                        <img src="@Model.ListInformation.Image" id="featuredImageDisplay" style=" width:300px;" />
                    }
                    else
                    {
                        <img src="" id="featuredImageDisplay" style="display:none; width:300px;" />
                    }

                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image:</label>
                    <input type="text" class="form-control" id="image" asp-for="ListInformation.Image" readonly>
                    
                </div>

                <div class="mb-3" >
                    <label for="createDate" class="form-label">CreateDate:</label>
                    <input type="text" class="form-control" id="createDate" asp-for="ListInformation.CreatedDate" readonly>
                    
                </div>

                <div class="form-group">
                    <label asp-for="ListInformation.Status" class="control-label">Status</label>
                    <div>
                        <select asp-for="ListInformation.Status">
                            <option value="Processing">Processing</option>
                            <option value="Approved">Approved</option>
                            <option value="Unavailable">Unavailable</option>
                        </select>
                    </div>
                    <span asp-validation-for="ListInformation.Status" class="text-danger"></span>
                </div>
                <div class="mb-3" style="display:none">
                    <label for="userId" class="form-label">UserId:</label>
                    <input type="text" class="form-control" id="userId" asp-for="ListInformation.UserId" readonly>
                </div>
                <div class="mb-3" style="display:none">
                    <label for="orchidId" class="form-label">OrchidId:</label>
                    <input type="text" class="form-control" id="orchidId" asp-for="Orchid.OrchidId" readonly>
                </div>
                <div class="mb-3" style="display:none">
                    <label for="auctionId" class="form-label">AuctionId:</label>
                    <input type="text" class="form-control" id="auctionId" asp-for="ListInformation.AuctionId" readonly>
                </div>
                <div class="form-group">
                    <label asp-for="Orchid.OrchidName" class="form-label">Orchid Name:</label>
                    <textarea asp-for="Orchid.OrchidName" class="form-control" readonly></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="Orchid.Characteristic" class="form-label">Characteric:</label>
                    <textarea asp-for="Orchid.Characteristic" class="form-control" readonly></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="Orchid.UnitPrice" class="form-label">UnitPrice:</label>
                    <textarea asp-for="Orchid.UnitPrice" class="form-control" readonly></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="Orchid.Quantity" class="form-label">Quantity:</label>
                    <textarea asp-for="Orchid.Quantity" class="form-control" readonly></textarea>
                </div>

                <div class="mb-3 d-flex justify-content-between">
                    <button class="btn btn-primary" type="submit" asp-page="EditSellOrchidinfor" asp-page-handler="Edit">Submit</button>

                </div>

            </form>
        </div>
    </div>
}
else
{
    <div class="container">
        <p>Information Not Found!</p>
    </div>
}

