@page
@model OrchidTradingManagement.Pages.Orchid.AddSellInformationModel
@{
}

<div>
    <div>
        <h1>
            Add Sell Information
        </h1>
    </div>
</div>

<div>
    <div>
        <form method="post">
            <div class="mb-3">
                <label for="heading" class="form-label">Title:</label>
                <input type="text" class="form-control" id="title" asp-for="AddListInformationRequest.Title">
                <span class="text-danger" asp-validation-for="AddListInformationRequest.Title"></span>
            </div>

            <div class="mb-3">
                <label for="heading" class="form-label">Description:</label>
                <input type="text" class="form-control" id="description" asp-for="AddListInformationRequest.Description">
                <span class="text-danger" asp-validation-for="AddListInformationRequest.Description"></span>
            </div>

            <div class="mb-3">
                <label for="heading" class="form-label">Image:</label>
                <input type="text" class="form-control" id="image" asp-for="AddListInformationRequest.Image">
                <span class="text-danger" asp-validation-for="AddListInformationRequest.Image"></span>
            </div>

            <div class="mb-3">
                <label for="heading" class="form-label">CreateDate:</label>
                <input type="text" class="form-control" id="heading" asp-for="AddListInformationRequest.CreatedDate">
                <span class="text-danger" asp-validation-for="AddListInformationRequest.CreatedDate"></span>
            </div>

            <div class="mb-3">
                <label for="heading" class="form-label">Status</label>
                <input type="text" class="form-control" id="status" asp-for="AddListInformationRequest.Status">
                <span class="text-danger" asp-validation-for="AddListInformationRequest.Status"></span>
            </div>
            <!------------------------------------------------------------->
            <div class="form-group">
                <label asp-for="AddOrchidRequest.OrchidName" class="form-label">Orchid Name:</label>
                <textarea asp-for="AddOrchidRequest.OrchidName" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="AddOrchidRequest.Characteristic" class="form-label">Characteric:</label>
                <textarea asp-for="AddOrchidRequest.Characteristic" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="AddOrchidRequest.UnitPrice" class="form-label">UnitPrice:</label>
                <textarea asp-for="AddOrchidRequest.UnitPrice" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="AddOrchidRequest.Quantity" class="form-label">Quantity:</label>
                <textarea asp-for="AddOrchidRequest.Quantity" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="AddOrchidRequest.Status" class="form-label">Status:</label>
                <textarea asp-for="AddOrchidRequest.Status" class="form-control"></textarea>
            </div>

            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>

        </form>
    </div>
</div>