@page "{id:Guid}"
@model OrchidTradingManagement.Pages.Orchid.MyEditSellOrchidModel
@{
}

<div>
    <div>
        <h1>
            Edit Sell Information
        </h1>
    </div>
</div>

<div>
    <div class="container">
        <form method="post">
            <div class="mb-3" style="display:none">
                <label for="inforId" class="form-label">InforId:</label>
                <input type="text" class="form-control" id="inforId" asp-for="EditListInformationRequest.InforId">
                <span class="text-danger" asp-validation-for="EditListInformationRequest.Title"></span>
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <input type="text" class="form-control" id="title" asp-for="EditListInformationRequest.Title">
                <span class="text-danger" asp-validation-for="EditListInformationRequest.Title"></span>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description:</label>
                <input type="text" class="form-control" id="description" asp-for="EditListInformationRequest.Description">
                <span class="text-danger" asp-validation-for="EditListInformationRequest.Description"></span>
            </div>

            <div class="mb-3">
                <label for="featuredImageUpload" class="form-label">Featured Image Upload</label>
                <input type="file" id="featuredImageUpload" asp-for="FeaturedImage" />
                @if(Model.EditListInformationRequest.Image != null)
                {
                    <img src="@Model.EditListInformationRequest.Image" id="featuredImageDisplay" style=" width:300px;" />
                }
                else
                {
                    <img src="" id="featuredImageDisplay" style="display:none; width:300px;" />
                }

            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image:</label>
                <input type="text" class="form-control" id="image" asp-for="EditListInformationRequest.Image" readonly>
                <span class="text-danger" asp-validation-for="EditListInformationRequest.Image"></span>
            </div>

            <div class="mb-3" style="display:none">
                <label for="createDate" class="form-label">CreateDate:</label>
                <input type="text" class="form-control" id="createDate" asp-for="EditListInformationRequest.CreatedDate">
                <span class="text-danger" asp-validation-for="EditListInformationRequest.CreatedDate"></span>
            </div>

            <div class="mb-3" style="display:none">
                <label for="status" class="form-label">Status</label>
                <input type="text" class="form-control" id="status" asp-for="EditListInformationRequest.Status" >
                <span class="text-danger" asp-validation-for="EditListInformationRequest.Status"></span>
            </div>
            <div class="mb-3" style="display:none">
                <label for="userId" class="form-label">UserId:</label>
                <input type="text" class="form-control" id="userId" asp-for="EditListInformationRequest.UserId" readonly>
            </div>
            <div class="mb-3" style="display:none">
                <label for="orchidId" class="form-label">OrchidId:</label>
                <input type="text" class="form-control" id="orchidId" asp-for="EditOrchidRequest.OrchidId" readonly>
            </div>
            <div class="mb-3" style="display:none">
                <label for="auctionId" class="form-label">AuctionId:</label>
                <input type="text" class="form-control" id="auctionId" asp-for="EditListInformationRequest.AuctionId" readonly>
            </div>
            <div class="form-group">
                <label asp-for="EditOrchidRequest.OrchidName" class="form-label">Orchid Name:</label>
                <textarea asp-for="EditOrchidRequest.OrchidName" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="EditOrchidRequest.Characteristic" class="form-label">Characteric:</label>
                <textarea asp-for="EditOrchidRequest.Characteristic" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="EditOrchidRequest.UnitPrice" class="form-label">UnitPrice:</label>
                <textarea asp-for="EditOrchidRequest.UnitPrice" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="EditOrchidRequest.Quantity" class="form-label">Quantity:</label>
                <textarea asp-for="EditOrchidRequest.Quantity" class="form-control"></textarea>
            </div>

            <div class="mb-3">
                <button class="btn btn-primary" type="submit" asp-page="MyEditSellOrchid" asp-page-handler="Edit">Submit</button>
            </div>

        </form>
    </div>
</div>

@section Scripts{
    <script>

        const featuredImageUploadElement = document.getElementById('featuredImageUpload');
        const image = document.getElementById('image');
        const featuredImageDisplay = document.getElementById('featuredImageDisplay');

        async function uploadFeaturedImage(e) {
            console.log(e.target.files[0]);

            let data = new FormData();
            data.append('file', e.target.files[0]);

            await fetch('/api/images', {
                method: 'Post',
                headers: {
                    'Accept': '*/*'
                },
                body: data
            }).then(response => response.json())
                .then(result => {
                    image.value = result.link;
                    featuredImageDisplay.style.display = 'block';
                    featuredImageDisplay.src = result.link;
                });
        }


        featuredImageUploadElement.addEventListener('change', uploadFeaturedImage);
    </script>
}