@page
@model OrchidTradingManagement.Pages.Orchid.SellListInformationModel
@{
}

<div>
    <div>
        <h1>Sell List Information</h1>
    </div>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <td>Title</td>
                <td>Description</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var listInformation in Model.ListInformations)
            {
                <tr>
                    <td>@listInformation.Title</td>
                    <td>@listInformation.Description</td>
                    
                    <td><a href="/Orchid/MyEditSellOrchid/@listInformation.InforId">View</a></td>
                </tr>
            }
        </tbody>
        </table>
</div>